* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar {
    position: fixed;
    height: 100%;
    width: 70px;
    background-color: darkblue;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    transition: all 1.2s ease;
}

.navbar:hover{
    width: 280px;
}

#logo {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

#logo img {
    border-radius: 40%;
    object-fit: contain;
    width: 30%;
    white-space: nowrap;
    padding-left: 15px;
    margin-left: 10px;
}

#logo h1 {
    font-size: 20px;
    color: azure;
    font-weight: 500;
    padding-left: 35px;
}

#navbar-link {
    padding: 5px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
}

#navbar-link li a span {

}


#navbar-link li a {
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding: 15px 15px;
    margin: 10px 5px;
    gap: 0 25px;
    color: azure;
    text-decoration: none;
}

#navbar-link li a :hover {
    background-color: lightgrey;
    border-radius: 4px;
}

#header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 30px;
}