* {
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}

body {
    background-color: white;
}

.side-bar {
    position: fixed;
    height: 100%;
    width: 65px;
    background-color: darkblue;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    z-index: 100;
    transition: all 1.2s ease;
}

.side-bar:hover{
    width: 280px;
}

#logo {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

#logo img {
    border-radius: 30%;
    object-fit: contain;
    width: 50px;
    white-space: nowrap;
    padding-left: 8px;
    margin-left: 7px;
}

#logo h1 {
    font-size: 20px;
    color: antiquewhite;
    font-weight: 500;
    padding-left: 25px;
}

hr {
    height: 2px;
}

#side-bar-link {
    padding: 5px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
}

#side-bar-link li a span {
    padding-right: 10px; 
}


#side-bar-link li a {
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding: 15px 15px;
    margin: 10px 5px;
    gap: 0 25px;
    color: antiquewhite;
    text-decoration: none;
}

#side-bar-link li a :hover {
    background-color: lightgrey;
    border-radius: 4px;
}

#header, #note{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 15px 25px 52px;
  margin: 0 5px 5px 20px;
}


#header h1 {
    position: relative;
    padding: 10px;
    padding-left: 20px;
    margin: 5px 5px 0 5px;
    font-weight: 500;
    font-family: "kanit", sans-serif;
    font-size: 50px;
}

#header img {
    position: absolute;
}

#header .hat {
    right: 15px;
    top: 140px;
    width: 100px;
}

#header .cake {
    right: -1px;
    top: 10px;
    width: 85px;
}

#header p, #note p {
    padding: 10px;
    padding-left: 20px;
    padding-top: 0;
    margin: 0 5px;
    font-weight: 500;
    font-family: "Playfair", sans-serif;
    font-style: italic;
    font-size: 20px;
}

#note p {
    color: antiquewhite;
}


#note {
    height: 80px;
    background-color: #005792;
    box-sizing: border-box;
}

.carouseldiv {
    background-color: #005792;
}

.carousel {
    position: relative; /* Relative positioning */
    left: 25%; /* Start from 2/3 of the screen */
    width: 66.67%; /* Stretch to the right */
    height: 48vh;
}

.carousel-item img {
    width: 100%; /* Full width of the carousel */
    height: auto; 
    border-radius: 8px;
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Cover the area without stretching */
}


.carousel-indicators, #carouselbtn {
    display: none;
}