* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar {
    position: fixed;
    height: 100%;
    width: 250px;
    background-color: darkblue;
    display: ;
    flex-direction: ;
    overflow-x: hidden;
}

#logo {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

#logo img {
    border-radius: 50%;
    object-fit: contain;
    width: 20%;
}

#logo h1 {
    font-size: 20px;
    color: azure;
    font-weight: 500;
    padding-left: 15px;
}

#navbar-link li a {
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding: 10px 0;
    margin: 10px 0;
    gap: 0 20px;
    color: azure;
    text-decoration: none;
}